#statsheader {
	margin: 0;
	text-align: center;
	font-family: 'Arial';
	font-size: 36px;
	color: #303030;
	border: 1px solid red;
	padding: 10px;
	font-weight: bold;
	background-color: red;
}

#positionheader {
	margin: 0;
	text-align: center;
	font-family: 'Arial';
	color: red;
	border: 1px solid red;
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
}

#statstable {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	border: 1px solid red;
	padding: 10px
}

#headerrow {
	color: white;
	background-color: #AAAAAA;
	border: 1px solid red;
	font-weight: bold;	
}

#namecell {
	color: red;
	padding:5px;
	borderLeft: 1px solid red;
	borderRight: 1px solid red;
	fontWeight: bold;
}

#statsrow {
	color: white;
}

#statcell {
	padding:5px;
	border: 1px dotted white;
}